<div class="jumbotron text-center">
	<div class='row'>
		<div class="col-sm-6 col-md-6 col-lg-6">

			{{#if check_user.feelings}}
			
			<img src="/uploads/final-images/test.png" alt="Poster unavailable" id="mergedImg" height="240" width="320">
			<br>
			<hr>
			<br>
			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{feelings.Name}}</h5>
				</div>

				<div class="card-body">
					<div class="col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<a href="{{{feelings.firstURL}}}" data-title="{{feelings.name}}" data-toggle="lightbox">
								<img src="{{{feelings.firstURL}}}" alt="Poster unavailable" height="240" width="320">
							</a>
						</div>


						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="row"> {{!-- subtitles, language... --}}
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Quote</p>
									<p class="text-info">
										{{feelings.Quote}}
									</p>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">Level</p>
									<p class="text-info">
										{{fl}}
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Tasks</p>
									<p class="text-info">
										{{feelings.Tasks}}
									</p>
								</div>

								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">noTasks</p>
									<p class="text-info">
										{{feelings.noTasks}}
									</p>
								</div>

								
							</div>
						</div>
					</div>
					<div class="progress md-progress" style="height: 20px">
    								<div class="progress-bar bg-danger" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
				</div>
				
			</div>

			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{thoughts.Name}}</h5>
				</div>

				<div class="card-body">
					<div class="col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<a href="{{{thoughts.firstURL}}}" data-title="{{thoughts.name}}" data-toggle="lightbox">
								<img src="{{{thoughts.firstURL}}}" alt="Poster unavailable" height="240" width="320">
							</a>
						</div>


						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="row"> {{!-- subtitles, language... --}}
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Quote</p>
									<p class="text-info">
										{{thoughts.Quote}}
									</p>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">Level</p>
									<p class="text-info">
										{{tl}}
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Tasks</p>
									<p class="text-info">
										{{thoughts.Tasks}}
									</p>
								</div>

								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">noTasks</p>
									<p class="text-info">
										{{thoughts.noTasks}}
									</p>
								</div>

							</div>
						</div>
					</div>
					<div class="progress md-progress" style="height: 20px">
    								<div class="progress-bar bg-danger" role="progressbar" style="width: 500%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
				</div>
				
								
			</div>

			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{actions.Name}}</h5>
				</div>

				<div class="card-body">
					<div class="col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<a href="{{{actions.firstURL}}}" data-title="{{actions.name}}" data-toggle="lightbox">
								<img src="{{{actions.firstURL}}}" alt="Poster unavailable" height="240" width="320">
							</a>
						</div>


						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="row"> {{!-- subtitles, language... --}}
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Quote</p>
									<p class="text-info">
										{{actions.Quote}}
									</p>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">Level</p>
									<p class="text-info">
										{{al}}
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Tasks</p>
									<p class="text-info">
										{{actions.Tasks}}
									</p>
								</div>

								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">noTasks</p>
									<p class="text-info">
										{{actions.noTasks}}
									</p>
								</div>

								
							</div>
						</div>
					</div>
				<div class="progress md-progress" style="height: 20px">
    								<div class="progress-bar bg-danger" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
				</div>
			</div>


			<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{aura.Name}}</h5>
				</div>

				<div class="card-body">
					<div class="col-sm-12 col-md-12 col-lg-12">

						<div class="row">
							<a href="{{{aura.firstURL}}}" data-title="{{aura.name}}" data-toggle="lightbox">
								<img src="{{{aura.firstURL}}}" alt="Poster unavailable" height="240" width="320">
							</a>
						</div>


						<div class="col-sm-12 col-md-12 col-lg-12">
							<div class="row"> {{!-- subtitles, language... --}}
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Quote</p>
									<p class="text-info">
										{{aura.Quote}}
									</p>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">Level</p>
									<p class="text-info">
										{{ul}}
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-6 col-lg-9">
									<p class="font-italic">Tasks</p>
									<p class="text-info">
										{{aura.Tasks}}
									</p>
								</div>

								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">noTasks</p>
									<p class="text-info">
										{{aura.noTasks}}
									</p>
								</div>

								
							</div>
						</div>
						
					<div class="progress md-progress" style="height: 20px">
    								<div class="progress-bar bg-danger" role="progressbar" style="width: 25%; height: 20px" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
								</div>
					</div>
				</div>
			</div>
			{{else}}
			<div class="containeravatar">
				<img {{{AvatarPic}}}></img>
				<div class="down">
					<a href="/avatar/createAvatar"><button type="button" class="btn btn-lg btn-block btn-warning">Create
							Avatar</button></a>
				</div>
			</div>
			{{/if}}
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">


			{{#if check_user.pet}}
			<div class="containeravatar">
				<img src="{{{pets.petPicURL}}}" alt="Poster unavailable" height="240" width="320">

				<br>
				<hr>
				<br>
				<div class="down">
				</div>
				<div class="card border-primary mb-2 w-100 mx-auto">
				<div class="card-header">
					<h5 class="card-title">{{pets.petName}}</h5>
								
				</div>
				

					<div class="card-body">
					<div class="col-sm-12 col-md-12 col-lg-12">
						<div class="row">
							<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">Quotes</p>
									<p class="text-info">
										{{pets.quotes}}
									</p>
								</div><div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic">Tasks</p>
									<p class="text-info">
										{{pets.tasks}}
									</p>
								</div>
								<div class="col-sm-12 col-md-6 col-lg-3">
									<p class="font-italic"></p>
									<p class="text-info">
										{{pets.noTasks}}
									</p>
								</div>
							
						</div>


</div>
					</div>
				</div>

				


			</div>


			{{else}}

			<div class="containeravatar">
				<img {{{PetPic}}}></img>
				<div class="down">
					<a href="/avatar/createPet"><button type="button" class="btn btn-lg btn-block btn-danger">Create
							Pet</button></a>
				</div>


			</div>

			{{/if}}
			<br>
		</div>

		{{#if check_user}}
		<button type='button' class='btn btn-lg btn-info btn-block btn-dark' data-toggle='modal' data-target='#myModal'>
			Delete Avatar
		</button> <br>{{/if}}

	</div>


	<div class="container">

            <div class="modal fade" id="myModal{{id}}" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{Name}}, Are you sure you want to delete your Avatar & Pet?</h4>
                
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <h5>All chnages cannot be undone. You will lose all your progress and data, are you sure you want to delete?</h5>
                        <div class="modal-body">
                           
                        <div class="modal-footer">
                            <form action="/avatar/deleteAvatar/{{check_user.username}}" method="POST">
                                <button type="submit" class="btn btn-warning"> Delete Pet</button>
                            </form>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



	<script src="https://unpkg.com/merge-images">
		console.log({{feelings.Quotes}});
	</script>