{{#if pets}}
<div class="jumbotron text-center">
    <h1>Create Avatar!</h1>
    <form action="/avatar/updateAvatar" method="POST">

        <div>       

            <label class="font-italic" for="feelings">How are you feeling ?</label>
<div id="feelingsBox"></div>


        </div>
        <div>

        <br>

            <label class="font-italic" for="thoughts">What do you always think ?</label>
<div id="thoughtsBox"></div>

        </div>
        <div>
<br>
            <label class="font-italic" for="actions">In one word, what do you spend most of your time on?</label>
<div id="actionsBox"></div>
            

        </div>
        <div>
        <br>

            <label class="font-italic" for="aura">In one word, what do you want?</label>

            <div id="auraBox"></div>
        </div>
        <br>
        <hr>
        <br>
        <button type="submit" class="btn btn-lg btn-block btn-warning">Create Avatar</button>
    </form>

</div>
{{else}}
<div class="jumbotron text-center">
    <h1>Create Avatar!</h1>
    <form action="/avatar/saveAvatar" method="POST">

        <div>       

            <label class="font-italic" for="feelings">How are you feeling ?</label>
<div id="feelingsBox"></div>


        </div>
        <div>

        <br>

            <label class="font-italic" for="thoughts">What do you always think ?</label>
<div id="thoughtsBox"></div>

        </div>
        <div>
<br>
            <label class="font-italic" for="actions">In one word, what do you spend most of your time on?</label>
<div id="actionsBox"></div>
            

        </div>
        <div>
        <br>

            <label class="font-italic" for="aura">In one word, what do you want?</label>

            <div id="auraBox"></div>
        </div>
        <br>
        <hr>
        <br>
        <button type="submit" class="btn btn-lg btn-block btn-warning">Create Avatar</button>
    </form>

</div>
{{/if}}

<script>

    (function checkFields() {
        var feelingsBox = document.getElementById('feelingsBox');
        var thoughtsBox = document.getElementById('thoughtsBox');
        var actionsBox = document.getElementById('actionsBox');
        var auraBox = document.getElementById('auraBox');

        if (feelingsBox.innerHTML == "") {
            {{#each Aspect}}
            var Fields = '{{Fields}}';
            var id = '{{id}}';
            var firstURL = '{{firstURL}}';
                             var name = '{{Name}}';

            if (Fields == 'Feelings') {
                feelingsBox.innerHTML += "<div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='{{Name}}' value='{{Name}}' name='feelings'><label class='custom-control-label' for='{{Name}}'>{{Name}}</label></div>";
            }

            {{/each}}
                }

                if (thoughtsBox.innerHTML == "") {
                    {{#each Aspect}}
                    var Fields = '{{Fields}}';
                    var id = '{{id}}';
                    var firstURL = '{{firstURL}}';
                            var name = '{{Name}}';

                    if (Fields == 'Thoughts') {
                        thoughtsBox.innerHTML += "<div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='{{Name}}' value='{{Name}}' name='thoughts'><label class='custom-control-label' for='{{Name}}'>{{Name}}</label></div>";
                    }

                    {{/each}}
                        }

                        if (actionsBox.innerHTML == "") {
                            {{#each Aspect}}
                            var Fields = '{{Fields}}';
                            var id = '{{id}}';
                            var firstURL = '{{firstURL}}';
                            var name = '{{Name}}';
                            if (Fields == 'Actions') {
                                actionsBox.innerHTML += "<div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='{{Name}}' value='{{Name}}' name='actions'><label class='custom-control-label' for='{{Name}}'>{{Name}}</label></div>";
                            }
                            {{/each}}
                                }

                                if (auraBox.innerHTML == "") {
                                    {{#each Aspect}}
                                    var Fields = '{{Fields}}';
                                    var id = '{{id}}';
                                    var firstURL = '{{firstURL}}';
                            var name = '{{Name}}';

                                    if (Fields == 'Aura') {
                                        auraBox.innerHTML += "<div class='custom-control custom-radio'><input type='radio' class='custom-control-input' id='{{Name}}' value='{{Name}}' name='aura'><label class='custom-control-label' for='{{Name}}'>{{Name}}</label></div>";
                                    }

                                    {{/each}}
                                        }
                                    }) ();
</script>