<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-sm mb-3">
	<div class="container">
		<a class="navbar-brand nav-white" href="/">SM;)E</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">

				{{#if user}}
				<li class="nav-item">
					<a class="nav-link nav-white" href="/journal/calendar">Journal</a>
				</li>

				<li class="nav-item">
					<a class="nav-link nav-white" {{#ifCond 'user.acctype == "admin"'}} href="/adminAvatar" {{else}} href="/avatar"
						{{/ifCond}}>Avatar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link nav-white" {{#ifCond 'user.acctype == "admin"'}} href="/adminEvents/adminDisplayEvent" {{else}} href="/events/eventDisplay"
						{{/ifCond}}>Events</a>
				</li>

				<li class="nav-item">
					<a class="nav-link nav-white" {{#ifCond 'user.acctype == "admin"'}} href="/wellnesstoolbox/admin/wellnesstoolbox" {{else}} href="/wellnesstoolbox/user/wellnesstoolbox"
						{{/ifCond}}>Wellness Toolbox</a>
				</li>

				{{/if}}
			</ul>

			{{#if user}}
			<ul class="navbar-nav ml-auto">
				<p style="padding-top: 0.5rem">{{user.name}}</p>
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">
						<i class="fa fa-fw fa-user nav-white"></i></a>
					<div class="dropdown-menu">
						<a href="/user/viewprofile/{{user.id}}" class="dropdown-item">Profile Page</a>
						<a href="/user/logout" class="dropdown-item">Logout</a>
					</div>
				</li>
			</ul>
			{{else}}

			<ul class="navbar-nav ml-auto">
				<li class="nav-item ">
					<a href="/user/login" class="nav-link">Login</a>
				</li>
				<li class="nav-item">
					<a href="/user/regselect" class="nav-link">Register</a>
				</li>
			</ul>

			{{/if}}


		</div>
	</div>
</nav>
