<div class="container card text-center shadow-lg bg-white">
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12 mx-auto">
        <div class="card card-body">
            <div class="row">
                <div class="col-lg-5 align-items-stretch">
                    <img id="poster" {{#if event.posterURL}} src="{{event.posterURL}}" {{else}} src="/img/default.jpeg"
                        {{/if}} alt="No image available" class="border img-thumbnail img-fluid"
                        style="height:100%;width:100%">
                </div>
                <div class="col-sm-12 col-md-12 col-lg-7">
                    </br>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h4 class="contentText">{{dateFormat event.eventDate 'DD MMM YYYY'}}</h>
                    </div>
                    </br>
                    </br>
                    <div class="col-sm-12 col-md-12 col-lg-9">
                        <h5 style="color: #df744a">{{event.eventName}}</h5>
                    </div>
                    </br>
                    </br>
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <h5 class="contentText">{{event.eventCost}}</h5>
                    </div>
                </div>
            </div>
            <hr>
            <form method="post" action="/adminEvents/eventInfo/{{event.id}}">
                <button class="btn col-lg-12 btn-orange" type="submit"><span>Register for Event</span></button>
            </form>
            <hr>
            <br>
            <div class="mb-2 w-100">
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-1">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                            <h5 class="" style="color:#df744a">Description</h5>
                            <p class="contentText">{{event.eventDescription}}</p>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-1">
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-3">
                            <h5 class="" style="color:#df744a">Date and Time</h5>
                            <p class="contentText">{{dateFormat event.eventDate 'DD MMM, YYYY'}}
                                </br>
                                {{event.eventTime}} - {{event.eventEndTime}}
                                </br>
                                Singapore Standard Time
                            </p>
                        </div>
                    </div>
                </div>
                </br>
                </br>
                </br>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-1">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <h5 class="" style="color:#df744a;">Category(s) covered</h5>
                        <p class="contentText">{{event.eventCategory}}</p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1">
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <h5 style="color:#df744a;">Location</h5>
                        <p class="contentText">{{event.eventLocation}}</p>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div>
                <h4 class="text-center" style="color:#df744a;">Event Location</h4>
                <br>
                <div id="map" style="height: 400px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    function initMap() {
        // Map options
        var options = {
            zoom: 11,
            center: { lat: 1.3521, lng: 103.8198 }
        }

        // New map
        var map = new google.maps.Map(document.getElementById('map'), options);

        // Add marker
        var marker = new google.maps.Marker({
            position: { lat: {{event.latitude}}, lng: {{event.longtitude}} },
            map: map,
        });

        var infoWindow = new google.maps.InfoWindow({
            content: '<img id="poster" {{#if event.posterURL}} src="{{event.posterURL}}" {{else}} src="/img/default.jpeg" {{/if}} alt="No image available" class="border img-thumbnail img-fluid" style="height:100%;width:50%"> <br><br> <h5>{{event.eventName}}</h5> <p>{{dateFormat event.eventDate 'DD MMM YYYY'}}, {{event.eventTime}} - {{event.eventEndTime}}</p>'
        });

        marker.addListener('click', function () {
            infoWindow.open(map, marker);
        });

        marker.addListener('mouseover', function () {
        infoWindow.open(map, marker);
        });

        marker.addListener('mouseout', function () {
        infoWindow.open(map, marker);
        });
    }

</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAY6l_kdezwueW1JJgqSt1IX4sqZnbZWA&callback=initMap">
    </script>