<h1> My Journal </h1>
{{#each Journal}}
<div>
    <button type="button" class="btn btn-lg btn-info btn-block btn-dark" data-toggle="modal"
        data-target="#entries{{id}}">
        {{date}}</button>

    <!-- Modal -->
    <div class="modal fade" id="entries{{id}}" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Entry #{{id}}</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p> {{entry}} </p>
                    <p>Mood: {{mood}} </p>
                    <p>Emotion: {{emotion}} </p>
                    <form action="/deleteEntry/{{id}}" method="POST">
                        <button class="btn" type="submit"> Delete </button>
                    </form>
                    <a href="/updateEntry/{{id}}">
                        <button type="button" class="btn btn-lg btn-primary"> Update
                        </button></a>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
{{/each}}