<h2>Update Entry</h2>
{{#with Journal}}
<form action="/updateEntry/{{id}}" method="POST">

    <div class="form-group">
        <h5>{{date}}</h5>
        <textarea class="form-control" rows="5" id="entry" name="entry">{{entry}}</textarea>
    </div>

    <div class="form-group mb-4">
        <label class="font-italic" for="mood"> Rate your mood from 0 to 5</label>
        <input type="range" class="custom-range" min="0" max="5" step="1" id="mood" name="mood" value="{{mood}}"
            oninput="moodRange()"></input>
        <div id="box">
            <h3>Mood</h3>
            <h1 id="moodNum">{{mood}}</h1>
        </div>

    </div>
    <div class="form-group mb-4">
        <label class="font-italic" for="emotion"> Choose your emotion </label>
        <div id="box">
            <h3>Emotion</h3>
            <input id="emotion" name="emotion" type="radio" value="Happy">
            <img src="/img/happy.png" height=100 width=100>
            </input>
            <input id="emotion" name="emotion" type="radio" value="Meh">
            <img src="/img/meh.png" height=100 width=100>
            </input>
            <input id="emotion" name="emotion" type="radio" value="Sad">
            <img src="/img/sad.png" height=100 width=100>
            </input>
        </div>
    </div>

    <script type="text/javascript">
        var range = document.getElementById('mood');
        var box = document.getElementById('moodNum');
        function moodRange() {
            var val = range.value;
            box.innerHTML = val;
        }
    </script>


    <button class="btn" type="submit"> Update </button>
</form>
{{/with}}
</div>