<div class="container">
    <div class="row">
        <div class="col-md-3 ">
            <div class="list-group ">
                <a href="#" class="list-group-item list-group-item-action active">My Profile</a>
                <a href="/user/updateprofile/{{user.id}}" class="list-group-item list-group-item-action">Update Profile</a>
                <a href="/user/changepw/{{user.id}}" class="list-group-item list-group-item-action"> Change Password</a>
                <a href="/user/delacc" class="list-group-item list-group-item-action"> Delete Account</a>



            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Your Profile</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                                <div class="form-profile-group row">
                                    <label for="username" class="col-4 col-form-label">Username: {{user.name}}</label>
                                </div>

                                <div class="form-profile-group row">
                                    <label for="firstname" class="col-4 col-form-label">First Name: {{user.fname}}</label>
                                </div>

                                <div class="form-profile-group row">
                                    <label for="lastname" class="col-4 col-form-label">Last Name: {{user.lname}}</label>
                                </div>

                                <div class="form-profile-group row">
                                    <label for="dob" class="col-4 col-form-label">Date of Birth: {{user.dob}}</label>
                                </div>

                                <div class="form-profile-group row">
                                    <label for="email" class="col-4 col-form-label">Email: {{user.email}}</label>
                                </div>

                                <div class="form-profile-group row">
                                    <label for="number" class="col-4 col-form-label">Phone Number: {{user.number}}</label>
                                </div>

                                <br>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
