<div class="container">
	<h1 class="display-2">{{Title}}</h1>

	<section id="articles">
		<div id="articles" class="card text-center shadow-lg bg-white">
			<div class="card-header">
				<ul class="nav nav-pills card-header-pills">
					<li class="nav-item flex-fill">
						<a class="nav-link active" href="#meditation" data-toggle="tab">Meditation</a>
					</li>
					<li class="nav-item flex-fill">
						<a class="nav-link" href="#video" data-toggle="tab">Video</a>
					</li>
					<li class="nav-item flex-fill">
						<a class="nav-link" href="#music" data-toggle="tab">Music</a>
					</li>
					<li class="nav-item flex-fill">
						<a class="nav-link" href="#workout" data-toggle="tab">Workout</a>
					</li>
					<li class="nav-item flex-fill">
						<a class="nav-link" href="#depressiontips" data-toggle="tab">Depression Tips</a>
					</li>
				</ul>
			</div>

			<div class="card-body tab-content">
				<div id="meditation" class="tab-pane show active fadeIn" role="tabpanel">
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-8">
							<h4 class="display-4">Meditation</h4>
						</div>
						<div class="col-2 my-auto">
							<a href="/wellnesstoolbox/admin/wtbmanagement" class="btn btn-sm py-2 btn-orange">Go to Admin Page
							</a>
						</div>
					</div>

					<hr class="shadow-none" style="background-color: #d7d7d7">

					<div class="row mb-2">
						<div class="col-10">
							<form action="/wellnesstoolbox/search/meditation" class="d-flex col-4">
								<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
								<input class="form-control" type="search" name="term" placeholder="Search"
									aria-label="Search">
							</form>
						</div>
						<div class="col-2">
						</div>
					</div>

					<div class="row">

						{{#if medArticle}}
						{{#each medArticle}}
						<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
							<div class="card bg-white">
								<div class="view overlay">
									<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
										width="200px">
								</div>
								<div class="card-body">
									<h4 class="card-title">{{title}}</h4>
									<p class="card-text">{{description}}
									</p>
									<a href="wellnesstoolbox/info/{{id}}" class="btn btn-orange btn-block">Read more</a>
								</div>

								<div class="card-footer">
									<div class="text-center pt-3">
										<ul class="list-inline font-small">
											<li class="list-inline-item pr-2 white-text">
												<i class="fas fa-eye pr-1"></i>{{view}}</a></li>
											<li class="list-inline-item font-small">
												<i class="fas fa-clock pr-1"></i>{{date}}</li>
										</ul>
									</div>
								</div>
						
							</div>
						</div>
						{{/each}}
						{{else}}
						<div>
							No article available.
						</div>
						{{/if}}

					</div>
				</div>

				<div id="video" class="tab-pane show fadeIn" role="tabpanel">
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-8">
							<h4 class="display-4">Video</h4>
						</div>
						<div class="col-2 my-auto">
							<a href="/wellnesstoolbox/admin/wtbmanagement" class="btn btn-sm py-2 btn-orange">Go to Admin Page
							</a>
						</div>
					</div>

					<hr class="shadow-none" style="background-color: #d7d7d7">

					<div class="row mb-2">
						<div class="col-10">
							<form action="/wellnesstoolbox/search/video" class="d-flex col-4">
								<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
								<input class="form-control" type="search" name="term" placeholder="Search"
									aria-label="Search">
							</form>
						</div>
						<div class="col-2">
						</div>
					</div>

					<div class="row">

						{{#if vidArticle}}
						{{#each vidArticle}}
						<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
							<div class="card bg-white">
								<div class="view overlay">
									<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
										width="200px">
								</div>
								<div class="card-body">
									<h4 class="card-title">{{title}}</h4>
									<p class="card-text">{{description}}
									</p>
									<a href="wellnesstoolbox/info/{{id}}" class="btn btn-orange btn-block">Read more</a>
								</div>

								<div class="card-footer">
									<div class="text-center pt-3">
										<ul class="list-inline font-small">
											<li class="list-inline-item pr-2 white-text">
												<i class="fas fa-eye pr-1"></i>{{view}}</a></li>
											<li class="list-inline-item font-small">
												<i class="fas fa-clock pr-1"></i>{{date}}</li>
										</ul>
									</div>
								</div>
						
							</div>
						</div>
						{{/each}}
						{{else}}
						<div>
							No article available.
						</div>
						{{/if}}

					</div>
				</div>

				<div id="music" class="tab-pane show fadeIn" role="tabpanel">
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-8">
							<h4 class="display-4">Music</h4>
						</div>
						<div class="col-2 my-auto">
							<a href="/wellnesstoolbox/admin/wtbmanagement" class="btn btn-sm py-2 btn-orange">Go to Admin Page
							</a>
						</div>
					</div>

					<hr class="shadow-none" style="background-color: #d7d7d7">

					<div class="row mb-2">
						<div class="col-10">
							<form action="/wellnesstoolbox/search/music" class="d-flex col-4">
								<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
								<input class="form-control" type="search" name="term" placeholder="Search"
									aria-label="Search">
							</form>
						</div>
						<div class="col-2">
						</div>
					</div>

					<div class="row">

						{{#if musicArticle}}
						{{#each musicArticle}}
						<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
							<div class="card bg-white">
								<div class="view overlay">
									<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
										width="200px">
								</div>
								<div class="card-body">
									<h4 class="card-title">{{title}}</h4>
									<p class="card-text">{{description}}
									</p>
									<a href="wellnesstoolbox/info/{{id}}" class="btn btn-orange btn-block">Read more</a>
								</div>

								<div class="card-footer">
									<div class="text-center pt-3">
										<ul class="list-inline font-small">
											<li class="list-inline-item pr-2 white-text">
												<i class="fas fa-eye pr-1"></i>{{view}}</a></li>
											<li class="list-inline-item font-small">
												<i class="fas fa-clock pr-1"></i>{{date}}</li>
										</ul>
									</div>
								</div>
						
							</div>
						</div>
						{{/each}}
						{{else}}
						<div>
							No article available.
						</div>
						{{/if}}

					</div>
				</div>

				<div id="workout" class="tab-pane show fadeIn" role="tabpanel">
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-8">
							<h4 class="display-4">Workout</h4>
						</div>
						<div class="col-2 my-auto">
							<a href="/wellnesstoolbox/admin/wtbmanagement" class="btn btn-sm py-2 btn-orange">Go to Admin Page
							</a>
						</div>
					</div>

					<hr class="shadow-none" style="background-color: #d7d7d7">

					<div class="row mb-2">
						<div class="col-10">
							<form action="/wellnesstoolbox/search/workout" class="d-flex col-4">
								<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
								<input class="form-control" type="search" name="term" placeholder="Search"
									aria-label="Search">
							</form>
						</div>
						<div class="col-2">
						</div>
					</div>

					<div class="row">

						{{#if workArticle}}
						{{#each workArticle}}
						<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
							<div class="card bg-white">
								<div class="view overlay">
									<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
										width="200px">
								</div>
								<div class="card-body">
									<h4 class="card-title">{{title}}</h4>
									<p class="card-text">{{description}}
									</p>
									<a href="wellnesstoolbox/info/{{id}}" class="btn btn-orange btn-block">Read more</a>
								</div>

								<div class="card-footer">
									<div class="text-center pt-3">
										<ul class="list-inline font-small">
											<li class="list-inline-item pr-2 white-text">
												<i class="fas fa-eye pr-1"></i>{{view}}</a></li>
											<li class="list-inline-item font-small">
												<i class="fas fa-clock pr-1"></i>{{date}}</li>
										</ul>
									</div>
								</div>
						
							</div>
						</div>
						{{/each}}
						{{else}}
						<div>
							No article available.
						</div>
						{{/if}}

					</div>
				</div>

				<div id="depressiontips" class="tab-pane show fadeIn" role="tabpanel">
					<div class="row">
						<div class="col-2">
						</div>
						<div class="col-8">
							<h4 class="display-4">Depression Tips</h4>
						</div>
						<div class="col-2 my-auto">
							<a href="/wellnesstoolbox/admin/wtbmanagement" class="btn btn-sm py-2 btn-orange">Go to Admin Page
							</a>
						</div>
					</div>

					<hr class="shadow-none" style="background-color: #d7d7d7">

					<div class="row mb-2">
						<div class="col-10">
							<form action="/wellnesstoolbox/search/depressiontips" class="d-flex col-4">
								<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
								<input class="form-control" type="search" name="term" placeholder="Search"
									aria-label="Search">
							</form>
						</div>
						<div class="col-2">
						</div>
					</div>

					<div class="row">

						{{#if depArticle}}
						{{#each depArticle}}
						<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
							<div class="card bg-white">
								<div class="view overlay">
									<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
										width="200px">
								</div>
								<div class="card-body">
									<h4 class="card-title">{{title}}</h4>
									<p class="card-text">{{description}}
									</p>
									<a href="wellnesstoolbox/info/{{id}}" class="btn btn-orange btn-block">Read more</a>
								</div>

								<div class="card-footer">
									<div class="text-center pt-3">
										<ul class="list-inline font-small">
											<li class="list-inline-item pr-2 white-text">
												<i class="fas fa-eye pr-1"></i>{{view}}</a></li>
											<li class="list-inline-item font-small">
												<i class="fas fa-clock pr-1"></i>{{date}}</li>
										</ul>
									</div>
								</div>
						
							</div>
						</div>
						{{/each}}
						{{else}}
						<div>
							No article available.
						</div>
						{{/if}}

					</div>
				</div>
			</div>
		</div>
	</section>
</div>