<h1 class="display-2">{{Title}}</h1>


<section id="articles">
	<div id="articles" class="card text-center shadow-lg bg-white">
		<div class="card-header">
			<ul class="nav nav-pills card-header-pills red">
				<li class="nav-item flex-fill">
					<a class="nav-link active" href="#meditation" data-toggle="tab">Meditation</a>
				</li>
				<li class="nav-item flex-fill">
					<a class="nav-link" href="#video" data-toggle="tab">Video</a>
				</li>
				<li class="nav-item flex-fill">
					<a class="nav-link" href="#music" data-toggle="tab">Music</a>
				</li>
				<li class="nav-item flex-fill">
					<a class="nav-link" href="#workout" data-toggle="tab">Workout</a>
				</li>
				<li class="nav-item flex-fill">
					<a class="nav-link" href="#depressiontips" data-toggle="tab">Depression Tips</a>
				</li>
			</ul>
		</div>

		<div class="card-body tab-content">
			<div id="meditation" class="tab-pane show active fadeIn" role="tabpanel">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-8">
						<h4 class="display-4">Meditation</h4>
					</div>
					<div class="col-2 my-auto">
						<button type="button" class="btn btn-lg btn-warm float-right" data-toggle="modal"
							data-target="#addModal">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<hr class="shadow-none" style="background-color: #d7d7d7">
				<div class="row mb-2">
					<div class="col-10">
						<form action="/wellnesstoolbox/search/meditation" class="d-flex col-4">
							<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
							<input class="form-control" type="search" name="term" placeholder="Search" aria-label="Search">
						</form>
					</div>
					<div class="col-2">
						<select class="form-control" id="sortBy">
							<option>Sort By:</option>
							<option>Most Viewed</option>
							<option>Least Viewed</option>
							<option onchange="sortLatest()">Latest First</option>
							<option>Oldest First</option>
						</select>
					</div>
				</div>

				<div class="row">

					{{#if medArticle}}
					{{#each medArticle}}
					<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
						<div class="card bg-white">
							<div class="view overlay">
								<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
									width="200px">
							</div>
							<div class="card-body">
								<h4 class="card-title">{{title}}</h4>
								<div class="row">
									<div class="col-12 desc">
										<p class="card-text col-12">{{description}}
										</p>
									</div>
								</div>
								<button type="button" class="btn btn-danger ml-2" data-toggle="modal"
									data-target="#deleteModal{{id}}">
									<i class="fas fa-trash-alt"></i>
								</button>

								<button type="button" class="btn btn-info ml-2" data-toggle="modal"
									data-target="#editModal{{id}}">
									<i class="fas fa-pencil-alt"></i>
								</button>

								<footer class="font-small mt-4">
									<p class="p-warm font-weight-light">Last updated: {{date}}</small></p>
								</footer>

							</div>
						</div>
					</div>
					{{/each}}
					{{else}}
					<div>
						No article available.
					</div>
					{{/if}}

				</div>
			</div>


			<div id="video" class="tab-pane show fadeIn" role="tabpanel">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-8">
						<h4 class="display-4">Video</h4>
					</div>
					<div class="col-2 my-auto">
						<button type="button" class="btn btn-lg btn-warm float-right" data-toggle="modal"
							data-target="#addModal">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<hr class="shadow-none" style="background-color: #d7d7d7">
				<div class="row mb-2">
					<div class="col-10">
						<form action="/wellnesstoolbox/search/video" class="d-flex col-4">
							<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
							<input class="form-control" type="search" name="term" placeholder="Search" aria-label="Search">
						</form>
					</div>
					<div class="col-2">
						<select class="form-control" id="sortBy">
							<option>Sort By:</option>
							<option>Most Viewed</option>
							<option>Least Viewed</option>
							<option onchange="sortLatest()">Latest First</option>
							<option>Oldest First</option>
						</select>
					</div>
				</div>

				<div class="row">

					{{#if vidArticle}}
					{{#each vidArticle}}
					<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
						<div class="card bg-white">
							<div class="view overlay">
								<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
									width="200px">
							</div>
							<div class="card-body">
								<h4 class="card-title">{{title}}</h4>
								<div class="row">
									<div class="col-12 desc">
										<p class="card-text col-12">{{description}}
										</p>
									</div>
								</div>
								<button type="button" class="btn btn-danger ml-2" data-toggle="modal"
									data-target="#deleteModal{{id}}">
									<i class="fas fa-trash-alt"></i>
								</button>

								<button type="button" class="btn btn-info ml-2" data-toggle="modal"
									data-target="#editModal{{id}}">
									<i class="fas fa-pencil-alt"></i>
								</button>

								<footer class="font-small mt-4">
									<p class="p-warm font-weight-light">Last updated: {{date}}</small></p>
								</footer>

							</div>
						</div>
					</div>
					{{/each}}
					{{else}}
					<div>
						No article available.
					</div>
					{{/if}}

				</div>

			</div>

			<div id="music" class="tab-pane show fadeIn" role="tabpanel">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-8">
						<h4 class="display-4">Music</h4>
					</div>
					<div class="col-2 my-auto">
						<button type="button" class="btn btn-lg btn-warm float-right" data-toggle="modal"
							data-target="#addModal">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<hr class="shadow-none" style="background-color: #d7d7d7">
				<div class="row mb-2">
					<div class="col-10">
						<form class="d-flex col-4">
							<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
							<input class="form-control" type="text" placeholder="Search" aria-label="Search">
						</form>
					</div>
					<div class="col-2">
						<select class="form-control" id="sortBy">
							<option>Sort By:</option>
							<option>Most Viewed</option>
							<option>Least Viewed</option>
							<option onchange="sortLatest()">Latest First</option>
							<option>Oldest First</option>
						</select>
					</div>
				</div>

				<div class="row">

					{{#if musicArticle}}
					{{#each musicArticle}}
					<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
						<div class="card bg-white">
							<div class="view overlay">
								<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
									width="200px">
							</div>
							<div class="card-body">
								<h4 class="card-title">{{title}}</h4>
								<div class="row">
									<div class="col-12 desc">
										<p class="card-text col-12">{{description}}
										</p>
									</div>
								</div>
								<button type="button" class="btn btn-danger ml-2" data-toggle="modal"
									data-target="#deleteModal{{id}}">
									<i class="fas fa-trash-alt"></i>
								</button>

								<button type="button" class="btn btn-info ml-2" data-toggle="modal"
									data-target="#editModal{{id}}">
									<i class="fas fa-pencil-alt"></i>
								</button>

								<footer class="font-small mt-4">
									<p class="p-warm font-weight-light">Last updated: {{date}}</small></p>
								</footer>

							</div>
						</div>
					</div>
					{{/each}}
					{{else}}
					<div>
						No article available.
					</div>
					{{/if}}

				</div>
			</div>

			<div id="workout" class="tab-pane show fadeIn" role="tabpanel">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-8">
						<h4 class="display-4">Workout</h4>
					</div>
					<div class="col-2 my-auto">
						<button type="button" class="btn btn-lg btn-warm float-right" data-toggle="modal"
							data-target="#addModal">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<hr class="shadow-none" style="background-color: #d7d7d7">
				<div class="row mb-2">
					<div class="col-10">
						<form class="d-flex col-4">
							<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
							<input class="form-control" type="text" placeholder="Search" aria-label="Search">
						</form>
					</div>
					<div class="col-2">
						<select class="form-control" id="sortBy">
							<option>Sort By:</option>
							<option>Most Viewed</option>
							<option>Least Viewed</option>
							<option onchange="sortLatest()">Latest First</option>
							<option>Oldest First</option>
						</select>
					</div>
				</div>

				<div class="row">

					{{#if workArticle}}
					{{#each workArticle}}
					<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
						<div class="card bg-white">
							<div class="view overlay">
								<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
									width="200px">
							</div>
							<div class="card-body">
								<h4 class="card-title">{{title}}</h4>
								<div class="row">
									<div class="col-12 desc">
										<p class="card-text col-12">{{description}}
										</p>
									</div>
								</div>
								<button type="button" class="btn btn-danger ml-2" data-toggle="modal"
									data-target="#deleteModal{{id}}">
									<i class="fas fa-trash-alt"></i>
								</button>

								<button type="button" class="btn btn-info ml-2" data-toggle="modal"
									data-target="#editModal{{id}}">
									<i class="fas fa-pencil-alt"></i>
								</button>

								<footer class="font-small mt-4">
									<p class="p-warm font-weight-light">Last updated: {{date}}</small></p>
								</footer>

							</div>
						</div>
					</div>
					{{/each}}
					{{else}}
					<div>
						No article available.
					</div>
					{{/if}}

				</div>
			</div>

			<div id="depressiontips" class="tab-pane show fadeIn" role="tabpanel">
				<div class="row">
					<div class="col-2">
					</div>
					<div class="col-8">
						<h4 class="display-4">Depression Tips</h4>
					</div>
					<div class="col-2 my-auto">
						<button type="button" class="btn btn-lg btn-warm float-right" data-toggle="modal"
							data-target="#addModal">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>

				<hr class="shadow-none" style="background-color: #d7d7d7">
				<div class="row mb-2">
					<div class="col-10">
						<form class="d-flex col-4">
							<i class="fas fa-search my-auto mr-2" aria-hidden="true"></i>
							<input class="form-control" type="text" placeholder="Search" aria-label="Search">
						</form>
					</div>
					<div class="col-2">
						<select class="form-control" id="sortBy">
							<option>Sort By:</option>
							<option>Most Viewed</option>
							<option>Least Viewed</option>
							<option onchange="sortLatest()">Latest First</option>
							<option>Oldest First</option>
						</select>
					</div>
				</div>

				<div class="row">

					{{#if depArticle}}
					{{#each depArticle}}
					<div class="col-12 mt-4 col-md-4 col-lg-3 px-4 align-items-stretch">
						<div class="card bg-white">
							<div class="view overlay">
								<img class="card-img-top" id="displayThumbnail" src="{{thumbnail}}" height="200px"
									width="200px">
							</div>
							<div class="card-body">
								<h4 class="card-title">{{title}}</h4>
								<div class="row">
									<div class="col-12 desc">
										<p class="card-text col-12">{{description}}
										</p>
									</div>
								</div>
								<button type="button" class="btn btn-danger ml-2" data-toggle="modal"
									data-target="#deleteModal{{id}}">
									<i class="fas fa-trash-alt"></i>
								</button>

								<button type="button" class="btn btn-info ml-2" data-toggle="modal"
									data-target="#editModal{{id}}">
									<i class="fas fa-pencil-alt"></i>
								</button>

								<footer class="font-small mt-4">
									<p class="p-warm font-weight-light">Last updated: {{date}}</small></p>
								</footer>

							</div>
						</div>
					</div>
					{{/each}}
					{{else}}
					<div>
						No article available.
					</div>
					{{/if}}

				</div>
			</div>
		</div>
	</div>
</section>

<!--addModal-->
<div class="modal fade" id="addModal" role="dialog">
	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold"><i class="far fa-newspaper"></i> New Article</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<form action="/wellnesstoolbox/admin/wtbmanagement" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
				<div class="modal-body">
					<div class="md-form mb-3">
						<label for="Category">Category</label>
						<select name="Category" class="form-control" id="Category">
							<option value="Meditation">Meditation</option>
							<option value="Video">Video</option>
							<option value="Music">Music</option>
							<option value="Workout">Workout</option>
							<option value="Depression Tips">Depression Tips</option>
						</select>
					</div>
					<div class="md-form mb-3">
						<label for="Title">Title</label>
						<input type="text" name="Title" value="" class="form-control" id="Title" maxlength="12"
							required>
					</div>
					<div class="md-form mb-3">
						<label for="Description">Description</label>
						<textarea name="Description" class="form-control" id="noteText" rows="3" required></textarea>
					</div>
					<div class="md-form mb-3">
						<label for="Link">URL Link</label>
						<input type="url" name="URL" class="form-control" id="Link"
							placeholder="https://www.google.com/" required>
					</div>
					<div class="md-form mb-5">
						<label for="Thumbnail">Thumbnail</label>
						<input type="file" name="Thumbnail" class="form-control-file" id="Thumbnail"
							accept="image/png,image/jpeg,image/jpg,image/gif">
					</div>
				</div>

				<div class="modal-footer">
					<button id="createbutton" class="btn btn-primary btn-md btn-block">Create</button>
				</div>
			</form>

		</div>

	</div>
</div>

<!--deleteModal-->
{{#if article}}
{{#each article}}
<div class="modal fade" id="deleteModal{{id}}" role="dialog">
	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold"><i class="far fa-trash-alt"></i> Delete</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="mb-4">
					<p>Are you sure you want to delete this Article?
					</p>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary btn-md" data-dismiss="modal">Cancel</button>
				<a class="btn btn-danger btn-md" href="/wellnesstoolbox/admin/wtbmanagement/delete/{{id}}">Delete</a>
			</div>

		</div>

	</div>
</div>
{{/each}}
{{/if}}

<!--editModal-->
{{#if article}}
{{#each article}}
<div class="modal fade" id="editModal{{id}}" role="dialog">
	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header text-center">
				<h4 class="modal-title w-100 font-weight-bold"><i class="far fa-newspaper"></i> Edit Article</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<form action="/wellnesstoolbox/admin/wtbmanagement/edit/{{id}}" method="post" enctype="multipart/form-data">
				<div class="modal-body">
					<div class="md-form mb-3">
						<label for="Category">Category</label>
						<select name="Category" class="form-control" id="Category">
							<option value="Meditation" {{selectCheck category 'Meditation'}}>Meditation</option>
							<option value="Video" {{selectCheck category 'Video'}}>Video</option>
							<option value="Music" {{selectCheck category 'Music'}}>Music</option>
							<option value="Workout" {{selectCheck category 'Workout'}}>Workout</option>
							<option value="Depression Tips" {{selectCheck category 'Depression Tips'}}>Depression Tips
							</option>
						</select>
					</div>
					<div class="md-form mb-3">
						<label for="Title">Title</label>
						<input type="text" name="Title" value="{{title}}" class="form-control" id="Title"
							maxlength="12">
					</div>
					<div class="md-form mb-3">
						<label for="Description">Description</label>
						<textarea name="Description" class="form-control" id="noteText" rows="3"
							required>{{description}}</textarea>
					</div>
					<div class="md-form mb-3">
						<label for="Link">URL Link</label>
						<input type="url" name="URL" value="{{link}}" class="form-control" id="Link"
							placeholder="https://www.google.com/" required>
					</div>
					<div class="md-form mb-5">
						<label for="Thumbnail">Thumbnail</label>
						<input type="file" name="Thumbnail" class="form-control-file" id="Thumbnail"
							accept="image/png,image/jpeg,image/jpg,image/gif">
					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-secondary btn-md" data-dismiss="modal">Cancel</button>
					<button class="btn btn-primary btn-md">Save Changes</button>
				</div>
			</form>

		</div>

	</div>
</div>
{{/each}}
{{/if}}

<script type="text/javascript" src="/js/wtb.js"> </script>