<div class="jumbotron text-center">
    <h3>List of Pets</h3>

    <div class="containeravatar">
        <div class="col-md-12 my-4">
            <br>
            {{#each Pet}}
            <div class="containeravatar">
                <img src="{{petPicURL}}" height=120 width=160></img>
                <br>
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-lg btn-info btn-block btn-dark" data-toggle="modal"
                    data-target="#myModal{{id}}">{{petName}} Info</button>
                <!-- Modal -->
                <div class="modal fade" id="myModal{{id}}" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">#{{id}}, {{petName}}</h4>

                                <button type="button" class="close" data-dismiss="modal">&times;</button>

                            </div>
                            <div class="modal-body">
                                                <img src="{{petPicURL}}" height=120 width=160></img>

                                <p>{{quotes}}</p>
                                <p>{{tasks}}</p>
                                <p>{{noTasks}}</p>
                            </div>
                            <div class="modal-footer">
                                <form action="/adminAvatar/deletePet/{{id}}" method="POST">
                                    <button type="submit" class="btn btn-warning"> Delete Pet</button>
                                </form>
                                <a href="petInfo/{{id}}" id="linksnull"><button type="button"
                                        class="btn btn-danger">Edit
                                        Info</button></a>

                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {{/each}}
            <hr>
            <br>
            <a href="/adminAvatar/editPet"><button class="btn btn-lg btn-block btn-dark">Add Pet</button></a>
        </div>
    </div>
</div>